version: "3.9"
services:
  nginx:
    build: ./label-studio
    image: heartexlabs/label-studio:1.8.0
    restart: unless-stopped
    ports:
      - "8080:8085"
      - "8081:8086"
    environment:
      - LABEL_STUDIO_HOST=${LABEL_STUDIO_HOST:-}
    #   Optional: Specify SSL termination certificate & key
    #   Just drop your cert.pem and cert.key into folder 'label-studio/deploy/nginx/certs'
    #      - NGINX_SSL_CERT=/certs/cert.pem
    #      - NGINX_SSL_CERT_KEY=/certs/cert.key
    volumes:
      - ./label-studio/deploy/nginx/certs:/certs:ro
      - ./deploy/default.conf:/label-studio/deploy/default.conf
    command: nginx

  db:
    image: postgres:11.5
    hostname: db
    restart: unless-stopped
    # Optional: Enable TLS on PostgreSQL
    # Just drop your server.crt and server.key into folder 'label-studio/deploy/pgsql/certs'
    # NOTE: Both files must have permissions u=rw (0600) or less
    #    command: >
    #      -c ssl=on
    #      -c ssl_cert_file=/var/lib/postgresql/certs/server.crt
    #      -c ssl_key_file=/var/lib/postgresql/certs/server.key
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./label-studio/deploy/pgsql/certs:/var/lib/postgresql/certs:ro

volumes:
  postgres-data:
